<table>
    <thead>
        <tr>
            <th class="blank" style="width:22%"></th>
            <th class="bold" style="width:13%">High-Income,<br>POC</th>
            <th class="bold" style="width:13%">Mid-Income,<br>POC</th>
            <th class="bold" style="width:13%">Low-Income,<br>POC</th>
            <th class="bold" style="width:13%">High-Income,<br>White</th>
            <th class="bold" style="width:13%">Mid-Income,<br>White</th>
            <th class="bold" style="width:13%">Low-Income,<br>White</th>
        </tr>
    </thead>
    <tbody>
        <tr><td class="blank bold" style="font-style:italic;">People</td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="indent"># of Pooled Census Tracts</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">Total Residents</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="blank" style="font-style:italic;">Race/Ethnicity *</td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="indent">% Asian</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% Black</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% Latinx</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% Native American</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% Multiracial</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% White</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td>Median Household Income ($000) *</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="blank bold" style="font-style:italic;">Public High Schools *</td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="indent"># of Schools</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">Total Enrollment</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">Grade 12 Enrollment</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent"># Meeting College Ready SAT Benchmark</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% Free Reduced Lunch</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="blank" style="font-style:italic;">Race/Ethnicity</td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="indent">% Asian</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% Black</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% Latinx</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% Native American</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% White</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="blank" style="font-style:italic;">School Type</td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="indent">0/1 is a Regular School</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">0/1 is a Magnet School</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">0/1 is a Charter School</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
</table>
