<table class="metro-desc">
    <thead>
        <tr>
            <th class="blank" style="width:10%"></th>
            <th colspan="2" class="bold blank" style="width:15%">High-Income,<br>POC</th>
            <th colspan="2" class="bold blank" style="width:15%">Mid-Income,<br>POC</th>
            <th colspan="2" class="bold blank" style="width:15%">Low-Income,<br>POC</th>
            <th colspan="2" class="bold blank" style="width:15%">High-Income,<br>White</th>
            <th colspan="2" class="bold blank" style="width:15%">Mid-Income,<br>White</th>
            <th colspan="2" class="bold blank" style="width:15%">Low-Income,<br>White</th>
        </tr>
        <tr>
            <th class="blank"></th>
            <th>Visit</th>
            <th>Nonvisit</th>
            <th>Visit</th>
            <th>Nonvisit</th>
            <th>Visit</th>
            <th>Nonvisit</th>
            <th>Visit</th>
            <th>Nonvisit</th>
            <th>Visit</th>
            <th>Nonvisit</th>
            <th>Visit</th>
            <th>Nonvisit</th>
        </tr>
    </thead>
    <tbody>
        <tr><td># of Schools</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>Grade 12 Enrollment</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td># Meeting SAT Benchmark</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>Median Household Income ($000)</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>% Free Reduced Lunch</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="blank" style="font-style:italic;">Enrollment by Race/Ethnicity</td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="indent">% Asian</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% Black</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% Latinx</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% Native American</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% White</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="blank" style="font-style:italic;">School Type</td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="indent">0/1 is a Regular School</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">0/1 is a Magnet School</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">0/1 is a Charter School</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
</table>
