<table>
    <thead>
        <tr>
            <th class="blank" style="width:23%"></th>
            <th class="bold" style="width:11%">Total</th>
            <th class="bold" style="width:11%">High-Income,<br>POC</th>
            <th class="bold" style="width:11%">Mid-Income,<br>POC</th>
            <th class="bold" style="width:11%">Low-Income,<br>POC</th>
            <th class="bold" style="width:11%">High-Income,<br>White</th>
            <th class="bold" style="width:11%">Mid-Income,<br>White</th>
            <th class="bold" style="width:11%">Low-Income,<br>White</th>
        </tr>
    </thead>
    <tbody>
        <tr><td class="blank bold"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="indent"># of public high school visited</td><td rowspan="2"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% of total visited schools</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="indent"># of public high school visits *</td><td rowspan="2"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% of total public high school visits *</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="blank bold"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="indent"># of public high school visits</td><td rowspan="2"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% of total visits</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
        <tr><td class="indent"># of public high school visits *</td><td rowspan="2"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="indent">% of total public high school visits *</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
</table>
